@{
    ViewBag.Title = "Home Page";
}
    <div id="backImgDiv">
        @*style="margin-left:-100px; margin-right:-100px"*@
        <div class="mainImg" style="margin-top: 0px;">
            @*style="background-image:url('../../myImages/multi-storey-car-park-2705368_960_720.jpg'); height:300px*@
            <div class="slideInLeft">
                <span id="slideInLeftSpan1">welcome</span><br />
                <span id="slideInLeftSpan2">to our garage</span><br />
                <span id="slideInLeftSpan3">We will love to make you happy</span><br />
            </div>
        </div>
    </div>
@*<div class="BluePart container">
    <div class="txtpart col-md-9">
        <h1>we provide best services</h1>
        <p>cheapest but "THE BEST"</p>
       
    </div>*@
    @*<div class="btnpart col-md-3">
        <div class="thim-wrapper-button  pull-right" style="width:210px">
      
            <a class="wrapper-link" href="https://localhost:44371/Account/Login" title="log in to find more">SIGN UP TO FIND MORE</a>
            <div class="spanBtn thim-button thim-button--rayen thim-button--border-thick thim-button--text-thick" data-text="LOG IN" style="color:#ffffff;background-color:rgba(153,153,153,0.01);border-color:#ffffff;border-width:2px;text-align:center">
                <span class="before" style="background-color:#ffffff;color:#000000">LOG IN</span>
                <span class="content">SIGN UP TO FIND MORE</span>
            </div>
    </div>
</div>
</div>*@


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@